{{user_navs = True}}
{{extend 'layout.html'}}

    {{ if settings.academy_mode: }}
    <script src="https://www.paypalobjects.com/api/checkout.js" type="text/javascript"></script>
    {{ pass }}
{{block statusbar}}
{{end}}

<div class="container">
    <div class="col-md-8 col-md-offset-2">
        <h1>Support Runestone Interactive</h1>

        <p>This is Mount Holyoke College's adaption of the Runestone Academy platform. 
           If you're interested in learning more about (or donating to support) the platform, please visit 
           <a href="https://runestone.academy/">the Runestone Academy web site.</a>
           <br>
           <br>
           This page will automatically redirect you to the courses page in 3 seconds.
        </p>

    </div>
</div>

<meta http-equiv="refresh" content="3; URL=/runestone/default/courses" />

<script>
    paypal.Button.render({
      env: 'production', // Or 'sandbox', 'production'
      client: {
          sandbox: 'AVsIrTPVGQOcMILmCSyfLioKBiqdTgAzC_ax74na1CZ0HZV0EPf9Vq7PDp_sWPeqNitq0yRGRYq5vjDp',
          production: 'ASkp77N-Kiw5GKOF_0I13P0GCW6lrnaukdVqeFykz7zBT9F-WXHRIisBsau5VEmC-vCKCzt--41kaOjb'
      },

      commit: true, // Show a 'Pay Now' button

      style: {
        color: 'blue',
        size: 'responsive',
        layout: 'vertical'
      },

      payment: function(data, actions) {
        var amt_opts = document.getElementsByName("donate")
        var amt = ""
        for (let rb of amt_opts) {
            if (rb.type === "radio" & rb.checked) {
                amt = rb.value
            }
        }
        if (amt === "") {
            amt = document.getElementById("donateother").value
        }
        return actions.payment.create({
                payment: {
                    transactions: [
                        {
                            amount: { total: amt, currency: 'USD' }
                        }
                    ]
                }
            });
      },

      onAuthorize: function(data, actions) {
        return actions.payment.execute().then(function(payment) {

                // The payment is complete!
                // You can now show a confirmation message to the customer
            $.get("/{{=request.application}}/ajax/save_donate")
            alert('Payment successful - Thank you! ')
            window.location.href = "/{{=request.application}}/default"
            });
      },

      onCancel: function(data, actions) {
        /*
         * Buyer cancelled the payment
         */
      },

      onError: function(err) {
        /*
         * An error occurred during the transaction
         */
      }
    }, '#paypal-button');
</script>

{{ if request.args: }}
<script>
    $(document).ready(function() {
        var amt = "{{=request.args(0)}}";
        var btn = document.getElementById("donate"+amt);
        if (btn) {
            btn.checked = true;
        }
    });
</script>
{{pass}}
